.user-panel {
  flex: 0.3 !important;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.user-header {
  text-align: center;
  padding: 9px 0px;
}

.login-tabs {
  padding-bottom: 5px;
}

.register-container h1 {
  text-align: center;
}
